<p>
  <b>Study:</b>
  <%=h @question.study_id %>
</p>

<p>
  <b>Relation:</b>
  <%=h @question.relation %>
</p>

<p>
  <b>Time period:</b>
  <%=h @question.time_period %>
</p>

<p>
  <b>Category:</b>
  <%=h @question.category %>
</p>

<p>
  <b>Subcategory:</b>
  <%=h @question.subcategory %>
</p>

<p>
  <b>Level of assessment:</b>
  <%=h @question.level_of_assessment %>
</p>

<p>
  <b>Question Type:</b>
  <%=h @question.question_type %>
</p>

<p>
  <b>Primary Question:</b>
  <%=h @question.primary_question %>
</p>

<p>
  <b>Primary Subquestion:</b>
  <%=h @question.primary_subquestion %>
</p>

<p>
  <b>Primary response:</b>
  <%=h @question.primary_response %>
</p>

<p>
  <b>Secondary question:</b>
  <%=h @question.secondary_question %>
</p>

<p>
  <b>Secondary response:</b>
  <%=h @question.secondary_response %>
</p>

<p>
  <b>Tertiary question:</b>
  <%=h @question.tertiary_question %>
</p>

<p>
  <b>Tertiary response:</b>
  <%=h @question.tertiary_response %>
</p>

<p>
  <b>Quarternary question:</b>
  <%=h @question.quarternary_question %>
</p>

<p>
  <b>Quarternary response:</b>
  <%=h @question.quarternary_response %>
</p>

<p>
  <b>Answers:</b>
  <%=h @question.answers %>
</p>

<p>
  <b>Standard:</b>
  <%=h @question.standard %>
</p>

<p>
  <b>Data available:</b>
  <%=h @question.data_available %>
</p>

<p>
  <b>Time period notes:</b>
  <%=h @question.time_period_notes %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
