<h1>Editing exposure</h1>

<% form_for(@exposure) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :relation_to_child %><br />
    <%= f.text_field :relation_to_child %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exposure %> |
<%= link_to 'Back', exposures_path %>
