<h1>Listing exposures</h1>

<table id='study_exposures'>
  <tr>
    <th>Study</th>
    <th>Category</th>
    <th>Relations</th>
    <th>Windows</th>
    <th>Types</th>
  </tr>

<% @exposures.each do |exposure| %>
  <tr>
    <td class='center'><%=h exposure.study %></td>
    <td class='center'><%=h exposure.category %></td>
    <td class='center'><%=h exposure.relation_to_child %></td>
    <td><%= exposure.windows_of_exposure.join('<br/>') %></td>
    <td><%= exposure.types.join('<br/>') %></td>
    <td><%= link_to 'Show', exposure %></td>
    <td><%= link_to 'Edit', edit_exposure_path(exposure) %></td>
    <td><%#= link_to 'Destroy', exposure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New exposure', new_exposure_path %>
