<p>
  <b>Study:</b>
  <%=h @exposure.study %>
</p>

<p>
  <b>Category:</b>
  <%=h @exposure.category %>
</p>

<p>
  <b>Relation to Child:</b>
  <%=h @exposure.relation_to_child %>
</p>

<p>
  <b>Windows of Exposure:</b>
  <%= @exposure.windows_of_exposure.join(',') %>
</p>

<p>
  <b>Types:</b>
  <%=h @exposure.types.join(',') %>
</p>

<%= link_to 'Back', exposures_path %>
