<p>
  <b>Name:</b>
  <%=h @study.study_name %>
</p>

<p>
  <b>World region:</b>
  <%=h @study.world_region %>
</p>

<p>
  <b>Subregion:</b>
  <%=h @study.subregion %>
</p>

<p>
  <b>Country:</b>
  <%=h @study.country %>
</p>

<p>
  <b>Study design:</b>
  <%=h @study.study_design %>
</p>

<p>
  <b>Ascertainment:</b>
  <%=h @study.ascertainment %>
</p>

<p>
  <b>Age group:</b>
  <%=h @study.age_group %>
</p>

<p>
  <b>Recruitment:</b>
  <%=h @study.recruitment %>
</p>

<p>
  <b>Method Cytogenetic Subtyping:</b>
  <%#=h @study.method_cytogenetic_subtyping %>
</p>

<p>
  <b>Location Cytogenetic Subtyping:</b>
  <%#=h @study.location_cytogenetic_subtyping %>
</p>

<p>
  <b>Overview:</b>
  <%=h @study.overview %>
</p>
