<h1>Listing subjects</h1>

<table>
  <tr>
    <th>Study</th>
    <th>Subid</th>
    <th>Case status</th>
    <th>Subtype</th>
    <th>Cytogenetics t 12 21</th>
    <th>Cytogenetics inv 16</th>
    <th>Cytogenetics t 1 19</th>
    <th>Cytogenetics t 8 21</th>
    <th>Cytogenetics t 9 22</th>
    <th>Cytogenetics t 15 17</th>
    <th>Cytogenetics 11q23 mll</th>
    <th>Cytogenetics trisomy 5</th>
    <th>Cytogenetics trisomy 21</th>
    <th>Cytogenetics high hyperdiploid</th>
    <th>Cytogenetics low hyperdiploid</th>
    <th>Cytogenetics hypodiploid</th>
    <th>Cytogenetics other</th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%=h subject.study_id %></td>
    <td><%=h subject.subid %></td>
    <td><%=h subject.case_status %></td>
    <td><%=h subject.subtype %></td>
    <td><%=h subject.cytogenetics_t_12_21 %></td>
    <td><%=h subject.cytogenetics_inv_16 %></td>
    <td><%=h subject.cytogenetics_t_1_19 %></td>
    <td><%=h subject.cytogenetics_t_8_21 %></td>
    <td><%=h subject.cytogenetics_t_9_22 %></td>
    <td><%=h subject.cytogenetics_t_15_17 %></td>
    <td><%=h subject.cytogenetics_11q23_MLL %></td>
    <td><%=h subject.cytogenetics_trisomy_5 %></td>
    <td><%=h subject.cytogenetics_trisomy_21 %></td>
    <td><%=h subject.cytogenetics_high_hyperdiploid %></td>
    <td><%=h subject.cytogenetics_low_hyperdiploid %></td>
    <td><%=h subject.cytogenetics_hypodiploid %></td>
    <td><%=h subject.cytogenetics_other %></td>
    <td><%= link_to 'Show', subject %></td>
    <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
    <td><%= link_to 'Destroy', subject, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
