<h1>New subject</h1>

<% form_for(@subject) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :study_id %><br />
    <%= f.text_field :study_id %>
  </p>
  <p>
    <%= f.label :subid %><br />
    <%= f.text_field :subid %>
  </p>
  <p>
    <%= f.label :case_status %><br />
    <%= f.text_field :case_status %>
  </p>
  <p>
    <%= f.label :subtype %><br />
    <%= f.text_field :subtype %>
  </p>
  <p>
    <%= f.label :cytogenetics_t_12_21 %><br />
    <%= f.check_box :cytogenetics_t_12_21 %>
  </p>
  <p>
    <%= f.label :cytogenetics_inv_16 %><br />
    <%= f.check_box :cytogenetics_inv_16 %>
  </p>
  <p>
    <%= f.label :cytogenetics_t_1_19 %><br />
    <%= f.check_box :cytogenetics_t_1_19 %>
  </p>
  <p>
    <%= f.label :cytogenetics_t_8_21 %><br />
    <%= f.check_box :cytogenetics_t_8_21 %>
  </p>
  <p>
    <%= f.label :cytogenetics_t_9_22 %><br />
    <%= f.check_box :cytogenetics_t_9_22 %>
  </p>
  <p>
    <%= f.label :cytogenetics_t_15_17 %><br />
    <%= f.check_box :cytogenetics_t_15_17 %>
  </p>
  <p>
    <%= f.label :cytogenetics_11q23_MLL %><br />
    <%= f.check_box :cytogenetics_11q23_MLL %>
  </p>
  <p>
    <%= f.label :cytogenetics_trisomy_5 %><br />
    <%= f.check_box :cytogenetics_trisomy_5 %>
  </p>
  <p>
    <%= f.label :cytogenetics_trisomy_21 %><br />
    <%= f.check_box :cytogenetics_trisomy_21 %>
  </p>
  <p>
    <%= f.label :cytogenetics_high_hyperdiploid %><br />
    <%= f.check_box :cytogenetics_high_hyperdiploid %>
  </p>
  <p>
    <%= f.label :cytogenetics_low_hyperdiploid %><br />
    <%= f.check_box :cytogenetics_low_hyperdiploid %>
  </p>
  <p>
    <%= f.label :cytogenetics_hypodiploid %><br />
    <%= f.check_box :cytogenetics_hypodiploid %>
  </p>
  <p>
    <%= f.label :cytogenetics_other %><br />
    <%= f.check_box :cytogenetics_other %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', subjects_path %>
