<p>
  <b>Study:</b>
  <%= link_to @subject.study, @subject.study %>
</p>

<p>
  <b>Subid:</b>
  <%=h @subject.subid %>
</p>

<p>
  <b>Case status:</b>
  <%=h @subject.case_status %>
</p>

<p>
  <b>Subtype:</b>
  <%=h @subject.subtype %>
</p>

<p>
  <b>Biospecimens:</b>
  <%= @subject.biospecimens.join(',') %>
</p>

<p>
  <b>Genotypings:</b>
  <%= @subject.genotypings.join(',') %>
</p>

<p>
  <b>Cytogenetics t 12 21:</b>
  <%=h @subject.cytogenetics_t_12_21 %>
</p>

<p>
  <b>Cytogenetics inv 16:</b>
  <%=h @subject.cytogenetics_inv_16 %>
</p>

<p>
  <b>Cytogenetics t 1 19:</b>
  <%=h @subject.cytogenetics_t_1_19 %>
</p>

<p>
  <b>Cytogenetics t 8 21:</b>
  <%=h @subject.cytogenetics_t_8_21 %>
</p>

<p>
  <b>Cytogenetics t 9 22:</b>
  <%=h @subject.cytogenetics_t_9_22 %>
</p>

<p>
  <b>Cytogenetics t 15 17:</b>
  <%=h @subject.cytogenetics_t_15_17 %>
</p>

<p>
  <b>Cytogenetics 11q23 mll:</b>
  <%=h @subject.cytogenetics_11q23_MLL %>
</p>

<p>
  <b>Cytogenetics trisomy 5:</b>
  <%=h @subject.cytogenetics_trisomy_5 %>
</p>

<p>
  <b>Cytogenetics trisomy 21:</b>
  <%=h @subject.cytogenetics_trisomy_21 %>
</p>

<p>
  <b>Cytogenetics high hyperdiploid:</b>
  <%=h @subject.cytogenetics_high_hyperdiploid %>
</p>

<p>
  <b>Cytogenetics low hyperdiploid:</b>
  <%=h @subject.cytogenetics_low_hyperdiploid %>
</p>

<p>
  <b>Cytogenetics hypodiploid:</b>
  <%=h @subject.cytogenetics_hypodiploid %>
</p>

<p>
  <b>Cytogenetics other:</b>
  <%=h @subject.cytogenetics_other %>
</p>
