<%#
No good data at the moment

		Cytogenetics
			t(12,21)
			inv(16)
			t(1,19)
			t(8,21)
			t(9,22)
			t(15,17)
			11q25/MLL
			Trisomy 5
			Trisomy 21
			High hyperdiploid
			Low hyperdiploid
			Hypodiploid
			Other
%>

<div id='results_wrapper'>
 <div id='facets'>
  <% form_tag( search_path, :method => :get ) do %>
   <%= submit_tag "Search", :name => nil %>
   <p>
    <%#= text_field_tag :q, params[:q] %> 
   </p>
   <% @search.facets.each do |facet| -%>
    <% next if facet.name.to_s == 'study_id' -%><%# don't show the study_id facet -%>
    <% next if facet.rows.empty? -%><%# don't show empty facets -%>
    <b><%= pluralize(facet.rows.length,facet.name.to_s.titleize) %></b>

<% if facet.name == :biospecimens %>
<%# ONLY for biospecimens %>
<div>Multi-select operator
<%= radio_button_tag "#{facet.name}_op", 'AND',
  ( params["#{facet.name}_op"] && params["#{facet.name}_op"] == 'AND' ) %>
<label for='<%="#{facet.name}_op_and"-%>'>AND</label>
<%= radio_button_tag "#{facet.name}_op", 'OR',
	( params["#{facet.name}_op"].blank? || params["#{facet.name}_op"] && params["#{facet.name}_op"] == 'OR' ) %>
<label for='<%="#{facet.name}_op_or"-%>'>OR</label>
</div>
<% end %><%# if facet.name == :biospecimens %>

    <ul id='<%=facet.name-%>' class='facet_field'>
     <% facet.rows.each do |row| -%>
      <li>
<%= check_box_tag "#{facet.name}[]", row.value, params[facet.name].include?(row.value),
 { :id => "#{facet.name}_#{row.value.html_friendly}" } 
%><label for='<%="#{facet.name}_#{row.value.html_friendly}"-%>'><span><%= row.value %></span>
&nbsp;(&nbsp;<%= row.count %>&nbsp;)</label</li>
     <% end -%>
    </ul>
   <% end -%>
   <%= submit_tag "Search", :name => nil %>
  <% end -%>
  <p>TODO: remember selected tab (not terribly important)</p>
  <p>TODO: import questions</p>
  <p>TODO: figure out what pubmed is for</p>
  <p>TODO: add exposure related facets</p>
  <p>TODO: add principal investigator filter?</p>
  <p>TODO: add full text search?</p>
 </div><!-- id='facets' -->

 <div id='results'>
  <div id='filters'>
   <h3>Filters : found 
     <%=pluralize(@search.total,'subject')-%> and 
     <%=pluralize(@search.facet(:study_id).rows.length,'study')-%> matching ...</h3>
   <% params.each do |k,v| %>
    <% next if %w(action controller).include?(k) %>
    <% next if k =~ /_op$/ %><%# don't show the operators %>
    <p><%= link_to "#{k}:#{v.join(' '<<(params[k+'_op']||'OR')<<' ')}&nbsp;[X]", 
           params.merge(k => nil) %></p>
   <% end %>
  </div><!-- id='filters' -->

  <div id='tabs'>
   <ul>
    <li class='subjects'><a href='javascript:void()' class='current'>Subjects</a></li>
    <li class='studies'><a href='javascript:void()'>Studies</a></li>
    <li class='questions'><a href='javascript:void()'>Questions</a></li>
    <li class='pubmed'><a href='javascript:void()'>PubMed</a></li>
   </ul>
  </div><!-- id='tabs' -->

  <div id='subjects' class='tab_contents'>
   <% unless @search.results.empty? %>
    <ul>
     <% @search.results.each do |result| %>
      <li><%= link_to result.to_s, result %></li>
     <% end %>
    </ul>
   <% end %>
   <p><%= will_paginate(@search.hits) %></p>
   <p class='page_info'>Displaying page <%=@search.hits.current_page%> of <%=@search.hits.total_pages%> out of <%=@search.total%> results</p>
  </div><!-- id='subjects' -->

  <div id='studies' class='tab_contents'>
   <ul>
    <% @search.facet(:study_id).rows.each do |row| %>
     <li><%= link_to row.instance.study_name, study_path(row.value) 
         %>&nbsp;(&nbsp;<%= row.count %>&nbsp;)</li>
    <% end %>
   </ul>
  </div><!-- id='studies' -->

  <div id='questions' class='tab_contents'>
   <h1>Pending</h1>
   <h2>Still need to parse the questions spreadsheet(s)</h2>
  </div><!-- id='questions' -->

  <div id='pubmed' class='tab_contents'>
   <h1>Pending</h1>
   <h2>Don't know what to put here yet.</h2>
  </div><!-- id='pubmed' -->

 </div><!-- id='results' -->
</div><!-- id='results_wrapper' -->
