<% form_tag( search_path, :method => :get ) do %>
<p>
  <%= text_field_tag :q, params[:q] %> 
	<%= submit_tag "Search!", :name => nil %>
</p>
<% end %>

<%#
STUDY
	AUS-ALL
	Brazil
	CCLS
	CCRG
	Costa Rica
	France – ADELE
	France – ELECTRE
	France – ESCALE
	Germany
	Greece
	Italy
	Korea
	Manchester, UK
	New Zealand
	Qc-ALL
	Quebec
	UKCCS
GEOGRAPHY
	World Region
		Americas
		Asia
		Europe
		Oceana
		Country
			Australia
			Brazil
			Canada
			Costa Rica
			France
			Germany
			Greece
			Italy
			Korea
			New Zealand
			UK
			US
STUDY ATTRIBUTES
	Recruitment
		Ended
		Ongoing
	Study Design
		Hospital-based
		Population-based
	Eligible Age Groups
		0-11 years
		0-14 years
		0-18 years
		0-21 months
		1-18 years
		NS
CASE STATUS
	Case
		Subtype
			B-ALL
			T-ALL
			AML
			Other
			Unknown
		Cytogenetics
			t(12,21)
			inv(16)
			t(1,19)
			t(8,21)
			t(9,22)
			t(15,17)
			11q25/MLL
			Trisomy 5
			Trisomy 21
			High hyperdiploid
			Low hyperdiploid
			Hypodiploid
			Other
	Control
BIOSPECIMENS
	Case
		Child
			Dried Blood Spot
			Bone Marrow
			Pre-treatment Blood
			Blood
			Buccal
		Maternal
			Blood
			Buccal
		Paternal
			Blood
			Buccal
	Control
		Child
			Dried Blood Spot
			Blood
			Buccal
			Saliva
		Maternal
			Blood
			Buccal
			Saliva
		Paternal
			Blood
			Buccal
			Saliva
GENOTYPING
	Phase I Metabolism
	Phase II Metabolism
	Immune Function
	Folate Metabolism
	DNA Repair
	Oxidative Stress
	Other
%>

<div id='results_wrapper'>
 <div id='facets'>
  <h3>Facets</h3>
  <% @search.facets.each do |facet| %>
   <b><%= facet.name %></b>
   <ul>
    <% facet.rows.each do |row| %>
     <li><%= link_to row.value, params.merge(facet.name.to_s => row.value) %>&nbsp;(&nbsp;<%= row.count %>&nbsp;)</li>
    <% end %>
   </ul>
  <% end %>
 </div><!-- id='facets' -->

 <div id='results'>

<%# just use study_name facet??? %>

  <% unless @search.results.empty? %>
   <ul>
    <% @search.results.each do |result| %>
     <li><%= result.class.name %>&nbsp;:&nbsp;<%= link_to result.to_s, result %></li>
    <% end %>
   </ul>
  <% end %>
  <p><%= will_paginate(@search.hits) %></p>
  <p class='page_info'>Displaying page <%=@search.hits.current_page%> of <%=@search.hits.total_pages%> out of <%=@search.total%> results</p>
 </div><!-- id='results' -->

</div><!-- id='results_wrapper' -->
